<article class="user">
	<dl class="user-data">
		<dt>Avatar:</dt>
		<dd class="user-avatar">
		<img src="{{{avatar_url}}}">
		</dd>

		<dt>Fullname:</dt>
		<dd class="user-name">{{{name}}}</dd>

		<dt>Account:</dt>
		<a class="user-github-url" href="https://github.com/ErikvdVen"><dd class="user-account">{{{login}}}</dd></a>
	</dl>
	<dl class="user-stats">
		<dt>Repos</dt>
		<a class="user-repos-url" href="https://github.com/ErikvdVen?tab=repositories"><dd class="user-repos" data-stats="repos">{{{public_repos}}}</dd></a>

		<dt>Followers</dt>
		<a class="user-followers-url" href="https://github.com/ErikvdVen/followers"><dd class="user-followers" data-stats="followers">{{{followers}}}</dd></a>
	</dl>
</article>